body {
    background: #FFFAF0; /* floralwhite */
    color: black;
    max-width: 850px;
    margin: auto;
    padding: 0 16px;
    margin-bottom: 500px;
    scrollbar-color: gray #151515;
    font-family: sans-serif;
    text-align: justify;
}

footer {
    margin-top: 3em ;
    text-align: center ;
    /*border-style: solid ;*/
    /*border-width: 2px 0px 0px 0px ;*/
    padding: 1em ;
}

.taglist {
    text-align: center ;
    margin-top: 3em ;
    margin-bottom: 3em;
}

::-webkit-scrollbar {
    width: .66vw;
    background-color: #151515;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

a {
    color: #3F3A30;
    text-decoration: none ;
}
a:hover{
    color: #5F5A50;
    text-decoration: none ;
}

table
{
    border-collapse: collapse;
    margin: auto;
}
th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid gray;
    padding: 5px;
    background: #9F9A90;
    color: #FFFFFF;
}
td /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid gray;
    padding: 5px;
}

#tagcloud {
    list-style: none ;
    text-align: center ;
    padding: 0 ;
}

h1 {
    font-size: 28pt;
}

h2 {
  padding: 15px;
  text-align: center;
  background: #5F5A50;
  color: white;
  font-size: 20px;
}

li.header {
    display: inline-block;
    list-style: none;
}

li.header a {
    padding: 10px;
    display: inline-block;
    background: #5F5A50;
    color: #FFFFFF;
    margin-right: 5px;
}
