{{- $imageMatches := findRE `!\[[^\]]*\]\((/pictures/[^)\s]+)` .RawContent 1 -}}
{{- $imagePath := .Params.image | default "" -}}
{{- if and (not $imagePath) (gt (len $imageMatches) 0) -}}
  {{- $imagePath = replaceRE `^.*\((/pictures/[^)\s]+).*$` "$1" (index $imageMatches 0) -}}
{{- end -}}
{{- $hasImage := ne $imagePath "" -}}
<li data-tags="{{ .Params.Tags }}">
  <a href="{{ .RelPermalink }}" class="{{ if $hasImage }}has-image{{ else }}no-image{{ end }}">
    {{ if $hasImage }}
    <span class="recipe-thumb">
      <img src="{{ $imagePath }}" alt="" loading="lazy">
    </span>
    {{ end }}
    <span class="article-list-title">{{ .Title }}</span>
  </a>
</li>
